<div class="conatiner ">
    <div class="row col-12">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white col-md-2 ">
            <div class="sider ">
                <div class="list-group list-group-flush border-bottom scrollarea">
                    <div class="d-flex align-items-center rooming ">
                        <span class="fs-4 mb-2 mb-2">Rooms</span>
                    </div>
                    <a *ngFor="let event of subscribeWith; " [routerLink]="['/shating/',event._id]"
                        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                        class="list-group-item list-group-item lh-tight" aria-current="true">
                        <app-room-link [notificationNewMessage]="notificationNewMessage" [event]="event"></app-room-link>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-10 min-vh-100">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>