<main class="main">
  <div class="login-background"></div>
  <div class="login">
    <div class="form-container">
      <h2 class="text-center mb-4">Events now</h2>
      <form #loginForm="ngForm" (ngSubmit)="handleFormSubmit(loginForm.form)">
        <!-- Email -->
        <div class="input-group has-validation mb-4">
          <span class="input-group-text"
            ><i class="fa-solid fa-envelope"></i
          ></span>
          <div
            class="form-floating"
            ngClass="{{
              email.touched ? (email.invalid ? 'is-invalid' : 'is-valid') : ''
            }}"
          >
            <input
              type="email"
              class="form-control"
              ngClass="{{
                email.touched ? (email.invalid ? 'is-invalid' : 'is-valid') : ''
              }}"
              id="email-input"
              placeholder="Email"
              name="email"
              ngModel
              #email="ngModel"
              required
              pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$"
            />
            <label for="email-input">Email</label>
          </div>
          <div class="invalid-feedback ms-2">
            {{
              email.hasError("required")
                ? "Email is required."
                : email.hasError("pattern")
                ? "Please enter a valid email address."
                : ""
            }}
          </div>
        </div>

        <!-- Password -->
        <div class="input-group has-validation mb-4">
          <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
          <div
            class="form-floating"
            ngClass="{{
              password.touched
                ? password.invalid
                  ? 'is-invalid'
                  : 'is-valid'
                : ''
            }}"
          >
            <span (click)="toggleShowPass($event)" class="show-password">
              <span *ngIf="showPass"><i class="fa-solid fa-eye"></i></span>
              <span *ngIf="!showPass"
                ><i class="fa-solid fa-eye-slash"></i
              ></span>
            </span>
            <input
              type="password"
              ngClass="{{
                password.touched
                  ? password.invalid
                    ? 'is-invalid'
                    : 'is-valid'
                  : ''
              }}"
              class="form-control"
              id="password-input"
              placeholder="Password"
              ngModel
              name="password"
              #password="ngModel"
              required
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            />
            <label for="password-input">Password</label>
          </div>
          <div class="invalid-feedback ms-2">
            {{
              password.hasError("required")
                ? "Password is required."
                : password.hasError("pattern")
                ? "8+ characters, 1 uppercase, 1 lowercase, 1 number, 1 special character."
                : ""
            }}
          </div>
        </div>
        <p
          *ngIf="loginForm.form.getError('invalidLogin')"
          class="text-danger text-center mt-1"
        >
          {{ loginForm.form.getError("invalidLogin") }}
        </p>
        <!-- Submit -->
        <div class="d-grid gap-2 col-6 mx-auto">
          <button
            type="submit"
            class="{{
              'btn btn-primary' + (loginForm.invalid ? ' disable' : '')
            }}"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>
      </form>

      <div class="text-center mt-4">
        <p>
          Don't have accout?
          <a
            routerLink="/signup"
            (click)="redirectToSignup()"
            routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            >Signup now</a
          >
        </p>
      </div>
    </div>
  </div>
</main>
