<div class="main">
  <div class="bg-body-secondary p-3 rounded-1">
    <!-- <h1 class="h1">DEVELOPERS CONFERENCE</h1> -->
    <div class="d-flex gap-3 mb-4">
      <div class="hosted-img rounded-5 overflow-hidden">
        <img
          class="w-100"
          src="https://images.unsplash.com/photo-1599566150163-29194dcaad36?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        />
      </div>
      <div>
        <p class="mb-1 h6">Hosted by:</p>
        <a class="h5 text-decoration-none text-dark" href="/users/id"
          >Mohamed Nasr</a
        >
      </div>
    </div>
  </div>

  <!-- Details -->
  <!-- <section class="d-flex bg-body-tertiary p-3">
    <div>
      <img
        class="w-75"
        src="https://images.unsplash.com/photo-1505373877841-8d25f7d46678?q=80&w=1412&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
      <p class="h2 mb-2 mt-4">Details</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia est
        sint quas laudantium sit, expedita harum eum voluptates impedit
        voluptatem exercitationem delectus illo, fugit distinctio in, accusamus
        beatae sapiente? Minus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusamus
        veniam quisquam doloremque ratione voluptates in, vitae ipsum et eveniet
        qui perspiciatis ea, voluptas laudantium assumenda nemo? Minus, ex
        vitae.
      </p>

      <div class="mt-6">
        <div class="d-flex flex-wrap gap-2">
          <a
            class="py-2 px-1 bg-info-subtle text-dark text-decoration-none rounded-2"
            href="#"
            >Online Marketing</a
          ><a
            class="py-2 px-1 bg-info-subtle text-dark text-decoration-none rounded-2"
            href="#"
            >Mergers &amp; Acquisitions</a
          ><a
            class="py-2 px-1 bg-info-subtle text-dark text-decoration-none rounded-2"
            href="#"
            >Professional Networking</a
          ><a
            id="topics-link-3"
            class="py-2 px-1 bg-info-subtle text-dark text-decoration-none rounded-2"
            href="#"
            >Entrepreneurship</a
          ><a
            id="topics-link-4"
            class="py-2 px-1 bg-info-subtle text-dark text-decoration-none rounded-2"
            href="#"
            >CEO to CEO Coaching &amp; Mentoring for Mutual Growth</a
          >
        </div>
      </div>
    </div>

    <div>
      <div class="d-flex gap-2">
        <span><i class="fa-regular fa-clock"></i></span>
        <p>
          Tuesday, November 14, 2023 at 6:00 PM to Tuesday, November 14, 2023 at
          8:00 PM EET
        </p>
      </div>
      <div class="d-flex gap-2">
        <span><i class="fa-solid fa-location-pin"></i></span>
        <p>6 Al Mzyn, El-Gamaleya, El Gamaliya, Cairo Governorate 4331001</p>
      </div>
    </div>
  </section> -->
  <!--                         Inspiration                                        -->
  <!-- Hero Area Start -->
  <div id="hero-area" class="hero-area-bg">
    <div class="overlay"></div>
    <div class="container position-relative z-3">
      <div class="row justify-content-center">
        <div class="col-lg-9 col-sm-12">
          <div class="contents text-center">
            <div class="icon">
              <i class="lni-mic"></i>
            </div>
            <p class="banner-info">
              15, Dec 2023 - Hilton Cairo Heliopolis, Cairo, Egypt
            </p>
            <h2 class="head-title">Developers Conference</h2>
            <p class="banner-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Sapiente, nobis nesciunt atque perferendis, ipsa doloremque
              deserunt cum qui.
            </p>
            <div class="banner-btn">
              <a href="{{ url + '#pricing' }}" class="btn btn-common"
                >Get Ticket</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Area End -->

  <!-- About Section Start -->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12">
          <div class="img-thumb">
            <img
              class="img-fluid"
              src="https://images.squarespace-cdn.com/content/5898e29c725e25e7132d5a5a/1487546591045-NJLLE20UXLVGZ9XHL47Y/600x400-Image-Placeholder.jpg?content-type=image%2Fjpeg"
              alt=""
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <div class="about-content">
            <div>
              <div class="about-text">
                <h2>About The Event</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                  eiusmod ncididunt ametfh consectetur dolore magna aliqua. Ut
                  enim ad minim veniam dolor sitame magnaelit ate consectetur
                  adipisicing. Lorem ipsum dolor sit amet consectetur
                  adipisicing elit sed do eiusmod.
                </p>
              </div>
              <ul class="stylish-list mb-3">
                <li>
                  <span><i class="fa-regular fa-circle-check"></i></span>
                  Networking Sessions
                </li>
                <li>
                  <span><i class="fa-regular fa-circle-check"></i></span>
                  Meet New Professional Faces
                </li>
                <li>
                  <span><i class="fa-regular fa-circle-check"></i></span>
                  Get Inspired by Amazing Speakers
                </li>
                <li>
                  <span><i class="fa-regular fa-circle-check"></i></span>
                  Lorem ipsum dolor sit ameterib
                </li>
                <li>
                  <span><i class="fa-regular fa-circle-check"></i></span>
                  Lorem ipsum dolor sit ameterib quodsi
                </li>
              </ul>
              <!-- <a class="btn btn-common" href="#">Learn More</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section End -->

  <!-- Information Bar Start -->
  <section id="information-bar">
    <div class="container">
      <div class="row inforation-wrapper">
        <div class="col-lg-3 col-md-6 col-xs-12">
          <ul>
            <li>
              <!-- <i class="lni-map-marker"></i> -->
              <span class="icon"><i class="fa-solid fa-location-pin"></i></span>
            </li>
            <li>
              <span><b>Location</b> Hilton Heliopolis, Cairo, Egypt</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <ul>
            <li>
              <i class="lni-calendar"></i>
              <span class="icon">
                <i class="fa-solid fa-calendar-days"></i>
              </span>
            </li>
            <li>
              <span><b>Date & Time</b> 10am - 7pm, 15th Dec</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <ul>
            <li>
              <span class="icon">
                <i class="fa-solid fa-people-roof"></i>
              </span>
            </li>
            <li>
              <span
                ><b>Attendees</b>
                <ul class="gap-2 align-items-center">
                  <li>
                    <img src="https://randomuser.me/api/portraits/men/22.jpg" />
                    <p class="attendee-name">Ahmed</p>
                  </li>
                  <li>
                    <img src="https://randomuser.me/api/portraits/men/12.jpg" />
                    <p class="attendee-name">Mohamed</p>
                  </li>
                  <li>
                    <img
                      src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=b616b2c5b373a80ffc9636ba24f7a4a9"
                    />
                    <p class="attendee-name">Mona</p>
                  </li>
                  <li class="h1">
                    <p class="attendee-all">+30</p>
                  </li>
                </ul></span
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <ul>
            <li>
              <!-- <i class="lni-user"></i> -->
              <span class="icon">
                <i class="fa-solid fa-users"></i>
              </span>
            </li>
            <li>
              <span><b>Seats</b> 100 People</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Information Bar End -->

  <!-- intro Section Start -->
  <section id="intro" class="intro section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">
              Why You Should Join?
            </h2>
            <p class="wow fadeInDown" data-wow-delay="0.2s">
              Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum
              vocent mediocritatem an <br />
              cule dicta iriure at phaedrum.
            </p>
          </div>
        </div>
      </div>
      <div class="row intro-wrapper">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="single-intro-text mb-70">
            <span class="icon">
              <i class="fa-solid fa-microphone-lines fa-lg"></i
            ></span>

            <h3>Great Speakers</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              mollitia, excepturi.
            </p>
            <span class="count-number">01</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="single-intro-text">
            <!-- <i class="lni-users"></i> -->
            <span class="icon">
              <i class="fa-solid fa-users"></i>
            </span>
            <h3 class="ts-title">New People</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              mollitia, excepturi.
            </p>
            <span class="count-number">02</span>
          </div>
          <div class="border-shap left"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="single-intro-text mb-70">
            <!-- <i class="lni-bullhorn"></i> -->
            <span class="icon">
              <i class="fa-solid fa-globe"></i>
            </span>
            <h3>Global Event</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              mollitia, excepturi.
            </p>
            <span class="count-number">03</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="single-intro-text mb-70">
            <!-- <i class="lni-heart"></i> -->

            <span class="icon">
              <i class="fa-solid fa-heart fa-lg"></i>
            </span>
            <h3>Get Inspired</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              mollitia, excepturi.
            </p>
            <span class="count-number">04</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="single-intro-text mb-70">
            <!-- <i class="lni-cup"></i> -->
            <span class="icon">
              <i class="fa-solid fa-square-share-nodes fa-lg"></i>
            </span>
            <h3>Networking Session</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              mollitia, excepturi.
            </p>
            <span class="count-number">05</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="single-intro-text mb-70">
            <i class="lni-gallery"></i>
            <h3>Meet New Faces</h3>

            <span class="icon">
              <i class="fa-regular fa-face-smile-wink fa-lg"></i>
            </span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              mollitia, excepturi.
            </p>
            <span class="count-number">06</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- intro Section End -->

  <!-- Event Slides Section Start -->
  <section id="event-up" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">
              Upcoming Events
            </h2>
            <p class="wow fadeInDown" data-wow-delay="0.2s">
              Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum
              vocent mediocritatem an <br />
              cule dicta iriure at phaedrum.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="event-item">
            <img
              class="img-fluid"
              src="https://images.squarespace-cdn.com/content/5898e29c725e25e7132d5a5a/1487546591045-NJLLE20UXLVGZ9XHL47Y/600x400-Image-Placeholder.jpg?content-type=image%2Fjpeg"
              alt=""
            />
            <div class="overlay-text">
              <div class="content">
                <h3>Business Event</h3>
                <a href="#">View details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="event-item">
            <img
              class="img-fluid"
              src="https://images.squarespace-cdn.com/content/5898e29c725e25e7132d5a5a/1487546591045-NJLLE20UXLVGZ9XHL47Y/600x400-Image-Placeholder.jpg?content-type=image%2Fjpeg"
              alt=""
            />
            <div class="overlay-text">
              <div class="content">
                <h3>Designer Event</h3>
                <a href="#">View details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="event-item">
            <img
              class="img-fluid"
              src="https://images.squarespace-cdn.com/content/5898e29c725e25e7132d5a5a/1487546591045-NJLLE20UXLVGZ9XHL47Y/600x400-Image-Placeholder.jpg?content-type=image%2Fjpeg"
              alt=""
            />
            <div class="overlay-text">
              <div class="content">
                <h3>Marketer Event</h3>
                <a href="#">View details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="event-item">
            <img
              class="img-fluid"
              src="https://images.squarespace-cdn.com/content/5898e29c725e25e7132d5a5a/1487546591045-NJLLE20UXLVGZ9XHL47Y/600x400-Image-Placeholder.jpg?content-type=image%2Fjpeg"
              alt=""
            />
            <div class="overlay-text">
              <div class="content">
                <h3>JS Event</h3>
                <a href="#">View details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 text-center">
          <a href="#" class="btn btn-common">More Event</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Event Slides Section End -->

  <!-- Ticket Pricing Area Start -->
  <section id="pricing" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">
              Ticket Pricing
            </h2>
            <p class="wow fadeInDown" data-wow-delay="0.2s">
              Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum
              vocent mediocritatem an <br />
              cule dicta iriure at phaedrum.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xa-12 mb-3">
          <div class="price-block-wrapper wow fadeInLeft" data-wow-delay="0.2s">
            <div class="colmun-title">
              <h5>Basic Pass</h5>
            </div>
            <div class="price">
              <h2>$29</h2>
              <span>Per Day</span>
            </div>
            <div class="pricing-list">
              <ul>
                <li>
                  <i class="lni-check-mark-circle"></i
                  ><span class="text">Entrance</span>
                </li>
                <li>
                  <i class="lni-check-mark-circle"></i
                  ><span class="text">Coffee Break</span>
                </li>
                <li>
                  <i class="lni-check-mark-circle"></i
                  ><span class="text">Lunch on all days</span>
                </li>
                <li>
                  <i class="lni-close"></i
                  ><span class="text">Access to all areas</span>
                </li>
                <li>
                  <i class="lni-close"></i><span class="text">Certificate</span>
                </li>
              </ul>
            </div>
            <a href="#" class="btn btn-common">Buy Ticket</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xa-12 mb-3">
          <div
            class="price-block-wrapper active wow fadeInUp"
            data-wow-delay="0.3s"
          >
            <div class="colmun-title">
              <h5>Standard Pass</h5>
            </div>
            <div class="price">
              <h2>$40</h2>
              <span>Per Day</span>
            </div>
            <div class="pricing-list">
              <ul>
                <li>
                  <i class="lni-check-mark-circle"></i
                  ><span class="text">Entrance</span>
                </li>
                <li>
                  <i class="lni-check-mark-circle"></i
                  ><span class="text">Coffee Break</span>
                </li>
                <li>
                  <i class="lni-check-mark-circle"></i
                  ><span class="text">Lunch on all days</span>
                </li>
                <li>
                  <i class="lni-close"></i
                  ><span class="text">Access to all areas</span>
                </li>
                <li>
                  <i class="lni-check-mark-circle"></i
                  ><span class="text">Certificate</span>
                </li>
              </ul>
            </div>
            <a href="#" class="btn btn-common">Buy Ticket</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xa-12 mb-3">
          <div
            class="price-block-wrapper wow fadeInRight"
            data-wow-delay="0.4s"
          >
            <div class="colmun-title">
              <h5>Premium Pass</h5>
            </div>
            <div class="price">
              <h2>$68</h2>
              <span>Per Day</span>
            </div>
            <div class="pricing-list">
              <ul>
                <li>
                  <i class="lni-check-mark-circle"></i
                  ><span class="text">Entrance</span>
                </li>
                <li>
                  <i class="lni-check-mark-circle"></i
                  ><span class="text">Coffee Break</span>
                </li>
                <li>
                  <i class="lni-close"></i
                  ><span class="text">Lunch on all days</span>
                </li>
                <li>
                  <i class="lni-check-mark-circle"></i
                  ><span class="text">Access to all areas</span>
                </li>
                <li>
                  <i class="lni-check-mark-circle"></i
                  ><span class="text">Certificate</span>
                </li>
              </ul>
            </div>
            <a href="#" class="btn btn-common">Buy Ticket</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Ticket Pricing Area End -->
</div>
