<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div class="main" *ngIf="!loading">
  <!-- Hero Area Start -->
  <div
    id="hero-area"
    class="hero-area-bg"
    [ngStyle]="{ 'background-image': ' url(' + foundEvent.posterPath + ')' }"
  >
    <div class="overlay"></div>
    <div class="container position-relative z-3">
      <div class="row justify-content-center">
        <div class="col-lg-9 col-sm-12">
          <div class="contents text-center">
            <!-- <div class="icon">
              <i class="lni-mic"></i>
            </div> -->
            <p class="banner-info">
              {{ foundEvent.dateTime | date : "d - MMM - yyyy" }}
            </p>
            <h2 class="head-title">{{ foundEvent.title }}</h2>
            <h4 class="mb-2" *ngIf="userAttende">You're going! 🎊</h4>
            <button
              (click)="attendee()"
              class="btn {{ userAttende ? 'btn-danger' : 'btn-primary' }}"
            >
              {{ userAttende ? "Not going!" : "Attend" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Area End -->

  <!-- About Section Start -->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12">
          <div class="img-thumb">
            <img class="img-fluid" [src]="foundPhoto" alt="" />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <div class="about-content">
            <div>
              <div class="about-text">
                <h2>About The Event</h2>
                <h6 class="mb-4">{{ foundEvent.description }}</h6>
              </div>
              <ul class="stylish-list mb-3">
                <li>
                  <span><i class="fa-regular fa-circle-check"></i></span>
                  Networking Sessions
                </li>
                <li>
                  <span><i class="fa-regular fa-circle-check"></i></span>
                  Meet New Professional Faces
                </li>
                <li>
                  <span><i class="fa-regular fa-circle-check"></i></span>
                  Get Inspired by Amazing Speakers
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section End -->

  <!-- Information Bar Start -->
  <section id="information-bar">
    <div class="container">
      <div class="row inforation-wrapper">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <ul>
            <li>
              <!-- <i class="lni-map-marker"></i> -->
              <span class="icon"><i class="fa-solid fa-location-pin"></i></span>
            </li>
            <li>
              <span><b>Location</b> {{ foundEvent.place.address }}</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <ul>
            <li>
              <i class="lni-calendar"></i>
              <span class="icon">
                <i class="fa-solid fa-calendar-days"></i>
              </span>
            </li>
            <li>
              <span
                ><b>Date & Time</b>
                {{ foundEvent.dateTime | date : "d - MMM - yyyy" }}</span
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
          <ul>
            <li>
              <span class="icon">
                <i class="fa-solid fa-users"></i>
              </span>
            </li>
            <li>
              <span><b>Seats</b> {{ foundEvent.ticketCount }} People</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Information Bar End -->

  <!-- intro Section Start -->
  <section id="intro" class="intro section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">
              Why You Should Join?
            </h2>
          </div>
        </div>
      </div>
      <div class="row intro-wrapper">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="single-intro-text mb-70">
            <span class="icon">
              <i class="fa-solid fa-microphone-lines fa-lg"></i
            ></span>

            <h3>Great Speakers</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              mollitia, excepturi.
            </p>
            <span class="count-number">01</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="single-intro-text">
            <!-- <i class="lni-users"></i> -->
            <span class="icon">
              <i class="fa-solid fa-users"></i>
            </span>
            <h3 class="ts-title">New People</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              mollitia, excepturi.
            </p>
            <span class="count-number">02</span>
          </div>
          <div class="border-shap left"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="single-intro-text mb-70">
            <!-- <i class="lni-bullhorn"></i> -->
            <span class="icon">
              <i class="fa-solid fa-globe"></i>
            </span>
            <h3>Global Event</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              mollitia, excepturi.
            </p>
            <span class="count-number">03</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="single-intro-text mb-70">
            <!-- <i class="lni-heart"></i> -->

            <span class="icon">
              <i class="fa-solid fa-heart fa-lg"></i>
            </span>
            <h3>Get Inspired</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              mollitia, excepturi.
            </p>
            <span class="count-number">04</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="single-intro-text mb-70">
            <!-- <i class="lni-cup"></i> -->
            <span class="icon">
              <i class="fa-solid fa-square-share-nodes fa-lg"></i>
            </span>
            <h3>Networking Session</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              mollitia, excepturi.
            </p>
            <span class="count-number">05</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="single-intro-text mb-70">
            <i class="lni-gallery"></i>
            <h3>Meet New Faces</h3>

            <span class="icon">
              <i class="fa-regular fa-face-smile-wink fa-lg"></i>
            </span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              mollitia, excepturi.
            </p>
            <span class="count-number">06</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- intro Section End -->

  <!-- Event Slides Section Start -->
  <section id="event-up" class="section-padding" *ngIf="allEvents">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">
              Upcoming Events
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-3 col-md-6 col-xs-12"
          *ngFor="let event of allEvents"
        >
          <div class="event-item">
            <img
              class="img-fluid w-100 h-100"
              [src]="event.posterPath"
              alt=""
            />
            <div class="overlay-text">
              <div class="content">
                <h3>{{ event.title }}</h3>
                <a routerLink="/event/{{ event._id }}">View details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 text-center">
          <a href="#" class="btn btn-common">More Event</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Event Slides Section End -->
</div>
