<div class="tab-content profile-tab ps-2 pb-2" id="myTabContent">
  <div class="container justify-content-center align-content-center d-flex">
    <div>
      <h2>About Me</h2>
      <div class="row">
        <div class="col-md-4">
          <label>Name</label>
        </div>
        <div class="col-md-4">
          <p>{{ user.name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Email</label>
        </div>
        <div class="col-md-4">
          <p>{{ user.email }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Phone</label>
        </div>
        <div class="col-md-4">
          <p>{{ user.phoneNumber }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <!-- <label>Profession</label>
        </div>
        <div class="col-md-5">
          <p>Web Developer</p>
        </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
