/* Style for the container */


/* Style for the heading */
.container h2 {
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
  color: #3498db;
}

/* Style for profile items */
.items {
  width: 250px;
  font-weight: 600;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

/* Style for the input fields in edit mode */
.items input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

/* Hover effect for profile items */
// .items:hover {
//   background-color: #3498db;
//   color: white;
//   cursor: pointer;
//   transform: scale(1.05);
// }

/* Style for the "Edit" button */
.btn-success {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Hover effect for the "Edit" button */
.btn-success:hover {
  background-color: #27ae60;
}

/* Style for the "Submit" button in edit mode */
.btn-primary {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Hover effect for the "Submit" button */
.btn-primary:hover {
  background-color: #2980b9;
}
