<div class="col-md-8">
  <div class="tab-content profile-tab" id="myTabContent">
    <div>
      <div class="row">
        <div class="col-md-5">
          <label>Name</label>
        </div>
        <div class="col-md-5">
          <p>{{ user.name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label>Email</label>
        </div>
        <div class="col-md-5">
          <p>{{ user.email }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label>Phone</label>
        </div>
        <div class="col-md-5">
          <p>Not Found</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label>Profession</label>
        </div>
        <div class="col-md-5">
          <p>Web Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
