<div class="prof">
  <div class="container emp-profile">
    <form method="post">
      <div class="row">
        <div class="col-md-3 me-5">
          <div class="profile-img d-flex flex-column">
            <img [src]="imgSrc" class="w-100" />
            <button class="file btn btn-primary" (click)="changePhoto($event)">
              Change Photo
              <input type="file" name="file" />
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="profile-head">
            <p class="h2">{{ userInfo.name }}</p>
            <!-- <h6>Web Developer</h6> -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  routerLink="/profile"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >About</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="hosts"
                  >Hosts</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="places"
                  routerLinkActive="active"
                  >Places</a
                >
              </li>
            </ul>
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="col-md-2 zer">
          <input
            type="submit"
            class="profile-edit-btn"
            name="btnAddMore"
            value="Edit Profile"
          />
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-4"></div>
      </div> -->
    </form>
  </div>
</div>
