<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div class="prof" *ngIf="!loading">
  <div class="container">
    <form method="post">
      <div class="row">
        <div class="col-md-12">
          <div class="profile-head emp-profile rounded-3 overflow-hidden">
            <div class="hed-cont d-flex">
              <div class="headOfPro col-lg-4 col-md-12">
                <div class="profile-img d-flex flex-column">
                  <img
                    [src]="
                      imgSrc ? imgSrc : '../../../assets/images/avatar.jpg'
                    "
                  />
                  <button class="file" (click)="changePhoto($event)">
                    Change Photo
                    <input
                      type="file"
                      name="file"
                      (change)="sendNewPhoto($event)"
                    />
                  </button>
                </div>

                <h2>{{ userInfo.name }}</h2>
              </div>
              <div class="col-lg-6 hihihi">
                <div class="first-intro">
                  <div class="intro-fill">
                    <span class="tf-user-welcome welcome-1">Hi There</span>
                    <span class="tf-user-welcome welcome-2"
                      >Welcome to profile</span
                    >
                    <span class="tf-user-welcome welcome-3"
                      >Believe yourself</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <ul
              class="nav nav-tabs d-flex justify-content-center"
              id="myTab"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  routerLink="/profile"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >About</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="hosts"
                  >Hosts</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="places"
                  routerLinkActive="active"
                  >Places</a
                >
              </li>
            </ul>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
