.main {
  padding-top: 100px;
}
.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#000 25%, #2652d6 0);
  background-size: 100% 100%;
  animation: spin 2s linear infinite;
  margin: 100px auto 500px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
