<section class="min-vh-100 " >
  
  <style>
    body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }
    
    .form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
    .input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
    .input:focus { outline: none; }
    .form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

    .messages { list-style-type: none; margin: 0; padding: 0; }
    .messages > li { padding: 0.5rem 1rem; }
    .messages > li:nth-child(odd) { background: #efefef; }
    </style>
  
  
  <ul class="messages" #messages>

    <app-shating-message *ngFor=" let mes of messagesListStore" [message]="mes"></app-shating-message>
  </ul>
  {{eventId}}
  
 
    

  <form class="form" (ngSubmit)="sendMessage()" #messageForm="ngForm" [ngClass]="{'d-none':editMod}" [formGroup]="formSender" >
      <input class="input" autocomplete="off" aria-describedby="shating-text"    maxlength="2000" formControlName="shat_text"/><button>Send</button> 
  
                
    </form>
  <form class="form" (ngSubmit)="editMessage()" #messageFormEdit="ngForm" [ngClass]="{'d-none':!editMod}" [formGroup]="formEditer" >
    <div>{{messageEdit.message}}</div>
      <input class="input" autocomplete="off" aria-describedby="shating-text"   formControlName="shat_text_edit" maxlength="2000"/><button>Edit</button> 
                
    </form>

</section>
