
section {
  display: grid;
  margin: 0;
  place-items: center;
}
.demo-inline-calendar-card {
  width: 400px;
  background: #eee;
  transition: transform 0.3s ease;
}

.mat-calendar-body {
  color: white;
}

.date {
  color: white;
  padding: 10px;
  width: 400px;
}
