
section {
  display: grid;
  margin: 0;
  place-items: center;
}
.demo-inline-calendar-card {
  width: 420px;
  background: #eee;
  transition: transform 0.3s ease;
}

.mat-calendar-body {
  color: white;
}

.date {
  color: white;
  padding: 10px 0px;
  width: 420px;
}

@media (max-width: 860px) {
  .demo-inline-calendar-card,.date {
    max-width: 350px;
    margin: auto;
  }
}
