<div class="d-flex" >

    <div class="alert   message p-0 my-1 w-25 " role="alert" [ngClass]="{'alert-primary':isMe,'alert-secondary':!isMe,'ms-auto':!isMe,'me-auto':isMe}">
        <h4 class="p-0 my-0 fs-6  ">{{isMe ?"Me":message.name}}  </h4>
        <div class="d-flex justify-content-between p-0 my-0 ">
            <p class="p-0 my-0 " >{{message.message}}</p>
            <a type="button" class="link-opacity-10 w-25 fs-6  " (click)="activEdeiMod()" >edit</a>
        </div>
      </div>
</div>
