<main class="main">
  <div class="register-background"></div>
  <div class="register">
    <div class="form-container">
      <h2 class="text-center mb-4 h1">Join us now</h2>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <!-- Full Name -->
        <div class="input-group has-validation mb-4">
          <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
          <div
            class="form-floating"
            ngClass="{{
              registrationForm.controls['name'].touched
                ? registrationForm.controls['name'].invalid
                  ? 'is-invalid'
                  : 'is-valid'
                : ''
            }}"
          >
            <input
              title="name"
              type="text"
              class="form-control"
              ngClass="{{
                registrationForm.controls['name'].touched
                  ? registrationForm.controls['name'].invalid
                    ? 'is-invalid'
                    : 'is-valid'
                  : ''
              }}"
              id="name-input"
              formControlName="name"
              placeholder="Username"
              required
            />
            <label for="name-input">Full name</label>
          </div>
          <div class="invalid-feedback ms-2">
            {{
              registrationForm.controls["name"].hasError("required")
                ? "Name is required."
                : registrationForm.controls["name"].hasError("minlength")
                ? "Name should be more than 5 characters."
                : ""
            }}
          </div>
        </div>

        <!-- Username -->
        <div class="input-group has-validation mb-4">
          <span class="input-group-text">@</span>
          <div
            class="form-floating"
            ngClass="{{
              registrationForm.controls['userName'].touched
                ? registrationForm.controls['userName'].invalid
                  ? 'is-invalid'
                  : 'is-valid'
                : ''
            }}"
          >
            <input
              title="username"
              type="text"
              class="form-control"
              ngClass="{{
                registrationForm.controls['userName'].touched
                  ? registrationForm.controls['userName'].invalid
                    ? 'is-invalid'
                    : 'is-valid'
                  : ''
              }}"
              id="username-input"
              formControlName="userName"
              placeholder="Username"
              required
            />
            <label for="username-input">Username</label>
          </div>
          <div class="invalid-feedback ms-2">
            {{
              registrationForm.controls["userName"].hasError("required")
                ? "Username is required."
                : registrationForm.controls["userName"].hasError("pattern")
                ? "Userame should not contain spaces."
                : ""
            }}
          </div>
        </div>

        <!-- Email -->
        <div class="input-group has-validation mb-4">
          <span class="input-group-text"
            ><i class="fa-solid fa-envelope"></i
          ></span>
          <div
            class="form-floating"
            ngClass="{{
              registrationForm.controls['email'].touched
                ? registrationForm.controls['email'].invalid
                  ? 'is-invalid'
                  : 'is-valid'
                : ''
            }}"
          >
            <input
              title="name@example.com"
              type="email"
              class="form-control"
              ngClass="{{
                registrationForm.controls['email'].touched
                  ? registrationForm.controls['email'].invalid
                    ? 'is-invalid'
                    : 'is-valid'
                  : ''
              }}"
              id="email-input"
              formControlName="email"
              placeholder="Email"
              required
            />
            <label for="email-input">Email</label>
          </div>
          <div class="invalid-feedback ms-2">
            {{
              registrationForm.controls["email"].hasError("required")
                ? "Email is required."
                : registrationForm.controls["email"].hasError("pattern")
                ? "Please enter a valid email address."
                : ""
            }}
          </div>
        </div>

        <!-- phoneNumber -->
        <!-- <div class="input-group has-validation mb-4">
          <span class="input-group-text"
            ><i class="fa-solid fa-phone"></i
          ></span>
          <div
            class="form-floating"
            ngClass="{{
              registrationForm.controls['phoneNumber'].touched
                ? registrationForm.controls['phoneNumber'].invalid
                  ? 'is-invalid'
                  : 'is-valid'
                : ''
            }}"
          >
            <input
              title="01234567890"
              type="tel"
              ngClass="{{
                registrationForm.controls['phoneNumber'].touched
                  ? registrationForm.controls['phoneNumber'].invalid
                    ? 'is-invalid'
                    : 'is-valid'
                  : ''
              }}"
              class="form-control"
              id="tel-input"
              formControlName="phoneNumber"
              placeholder="Phone number"
              required
            />
            <label for="tel-input">Phone number</label>
          </div>
          <div class="invalid-feedback ms-2">
            {{
              registrationForm.controls["phoneNumber"].hasError("required")
                ? "Phone number is required."
                : registrationForm.controls["phoneNumber"].hasError("pattern")
                ? "Please enter a valid phone number."
                : ""
            }}
          </div>
        </div> -->

        <!-- Adress -->
        <!-- <div class="input-group has-validation mb-4">
          <span class="input-group-text"
            ><i class="fa-solid fa-house"></i
          ></span>
          <div
            class="form-floating"
            ngClass="{{
              registrationForm.controls['country'].touched
                ? registrationForm.controls['country'].invalid
                  ? 'is-invalid'
                  : 'is-valid'
                : ''
            }}"
          >
            <input
              title="Country"
              type="text"
              minlength="5"
              ngClass="{{
                registrationForm.controls['country'].touched
                  ? registrationForm.controls['country'].invalid
                    ? 'is-invalid'
                    : 'is-valid'
                  : ''
              }}"
              class="form-control"
              id="country-input"
              formControlName="country"
              placeholder="Country"
              required
            />
            <label for="country-input">Country</label>
          </div>
          <div
            class="form-floating"
            ngClass="{{
              registrationForm.controls['city'].touched
                ? registrationForm.controls['city'].invalid
                  ? 'is-invalid'
                  : 'is-valid'
                : ''
            }}"
          >
            <input
              title="City"
              type="text"
              minlength="5"
              ngClass="{{
                registrationForm.controls['city'].touched
                  ? registrationForm.controls['city'].invalid
                    ? 'is-invalid'
                    : 'is-valid'
                  : ''
              }}"
              class="form-control"
              id="city-input"
              formControlName="city"
              placeholder="City"
              required
            />
            <label for="city-input">City</label>
          </div>
          <div class="invalid-feedback ms-2">
            {{
              registrationForm.controls["country"].hasError("required") ||
              registrationForm.controls["city"].hasError("required")
                ? "Adress is required."
                : registrationForm.controls["country"].invalid || registrationForm.controls["city"].invalid
                ? "Please enter a valid adress."
                : ""
            }}
          </div>
        </div> -->

        <div class="input-group has-validation mb-4">
          <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
          <div
            class="form-floating"
            ngClass="{{
              registrationForm.controls['password'].touched
                ? registrationForm.controls['password'].invalid ||
                  (registrationForm.errors &&
                    registrationForm.errors['passwordMismatch'] &&
                    foucusInput.password)
                  ? 'is-invalid'
                  : 'is-valid'
                : ''
            }}"
          >
            <span (click)="toggleShowPass($event)" class="show-password">
              <span *ngIf="showPass"><i class="fa-solid fa-eye"></i></span>
              <span *ngIf="!showPass"
                ><i class="fa-solid fa-eye-slash"></i
              ></span>
            </span>
            <input
              (focus)="focusInput($event)"
              type="password"
              ngClass="{{
                registrationForm.controls['password'].touched
                  ? registrationForm.controls['password'].invalid ||
                    (registrationForm.errors &&
                      registrationForm.errors['passwordMismatch'] &&
                      foucusInput.password)
                    ? 'is-invalid'
                    : 'is-valid'
                  : ''
              }}"
              class="form-control"
              id="password-input"
              formControlName="password"
              placeholder="Password"
              required
            />
            <label for="password-input">Password</label>
          </div>
          <div class="invalid-feedback ms-2">
            {{
              registrationForm.controls["password"].hasError("pattern")
                ? "8+ characters, 1 uppercase, 1 lowercase, 1 number, 1 special character."
                : registrationForm.errors &&
                  registrationForm.errors["passwordMismatch"] &&
                  foucusInput.password
                ? "Passwords do not match."
                : registrationForm.controls["password"].hasError("required")
                ? "Password is required."
                : ""
            }}
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="input-group has-validation mb-4">
          <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
          <div
            class="form-floating"
            ngClass="{{
              registrationForm.controls['confirmPassword'].touched
                ? registrationForm.controls['confirmPassword'].invalid ||
                  (registrationForm.errors &&
                    registrationForm.errors['passwordMismatch'] &&
                    foucusInput.confirmPassword)
                  ? 'is-invalid'
                  : 'is-valid'
                : ''
            }}"
          >
            <span (click)="toggleShowRePass($event)" class="show-password">
              <span *ngIf="showRePass"><i class="fa-solid fa-eye"></i></span>
              <span *ngIf="!showRePass"
                ><i class="fa-solid fa-eye-slash"></i
              ></span>
            </span>
            <input
              (focus)="focusInput($event)"
              type="password"
              ngClass="{{
                registrationForm.controls['confirmPassword'].touched
                  ? registrationForm.controls['confirmPassword'].invalid ||
                    (registrationForm.errors &&
                      registrationForm.errors['passwordMismatch'] &&
                      foucusInput.confirmPassword)
                    ? 'is-invalid'
                    : 'is-valid'
                  : ''
              }}"
              class="form-control"
              id="confirmPassword-input"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
              required
            />
            <label for="confirmPassword-input">Confirm Password</label>
          </div>
          <div class="invalid-feedback ms-2">
            {{
              registrationForm.controls["confirmPassword"].hasError("pattern")
                ? "8+ characters, 1 uppercase, 1 lowercase, 1 number, 1 special character."
                : registrationForm.errors &&
                  registrationForm.errors["passwordMismatch"] &&
                  foucusInput.confirmPassword
                ? "Passwords do not match."
                : registrationForm.controls["confirmPassword"].hasError(
                    "required"
                  )
                ? "Confirm Password is required."
                : ""
            }}
          </div>
        </div>
        <p
          *ngIf="
            registrationForm.errors && registrationForm.errors['userExists']
          "
          class="text-danger"
        >
          Email or username is alredy exists try login
        </p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button
            type="submit"
            class="{{
              'btn btn-primary' + (registrationForm.invalid ? ' disable' : '')
            }}"
            [disabled]="!registrationForm.valid"
          >
            Signup
          </button>
        </div>
      </form>
      <div class="text-center mt-4">
        <p>
          Already have account!
          <a
            routerLink="/login"
            (click)="redirectToLogin()"
            routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login now</a
          >
        </p>
      </div>
    </div>
  </div>
</main>
