<div class="register">
  <div class="form-container">
    <h2 class="text-center mb-4">Join us now</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label class="form-label" for="email">
          <i class="fa-solid fa-envelope"></i> Email</label
        >
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <div
          *ngIf="
            registrationForm.controls['email'].hasError('required') &&
            registrationForm.controls['email'].touched
          "
          class="text-danger"
        >
          Email is required.
        </div>
        <div
          *ngIf="
            registrationForm.controls['email'].hasError('email') &&
            registrationForm.controls['email'].touched
          "
          class="text-danger"
        >
          Please enter a valid email address.
        </div>
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="name">
          <i class="fa-regular fa-id-card"></i> Name</label
        >
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
        <div
          *ngIf="
            registrationForm.controls['name'].hasError('required') &&
            registrationForm.controls['name'].touched
          "
          class="text-danger"
        >
          Name is required.
        </div>
        <div
          *ngIf="
            registrationForm.controls['name'].hasError('minlength') &&
            registrationForm.controls['name'].touched
          "
          class="text-danger"
        >
          Name should be more than 3 characters.
        </div>
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="username">
          <i class="fa-solid fa-user"></i> Username</label
        >
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
        />
        <div
          *ngIf="
            registrationForm.controls['username'].hasError('required') &&
            registrationForm.controls['username'].touched
          "
          class="text-danger"
        >
          Username is required.
        </div>
        <div
          *ngIf="
            registrationForm.controls['username'].hasError('pattern') &&
            registrationForm.controls['username'].touched
          "
          class="text-danger"
        >
          Username should not contain spaces.
        </div>
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="password">
          <i class="fa-solid fa-lock"></i> Password</label
        >
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
        <div
          *ngIf="
            registrationForm.controls['email'].hasError('required') &&
            registrationForm.controls['email'].touched
          "
          class="text-danger"
        >
          Password is required.
        </div>
        <div
          *ngIf="
            registrationForm.controls['password'].hasError('pattern') &&
            registrationForm.controls['password'].touched
          "
          class="text-danger"
        >
          Password should contain at least one lowercase, one uppercase, one
          digit, and one special character (@*%$#).
        </div>
        <div
          *ngIf="
            registrationForm.controls['password'].hasError('minlength') &&
            registrationForm.controls['password'].touched
          "
          class="text-danger"
        >
          Password should be at least 8 characters long.
        </div>
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="confirmPassword">
          <i class="fa-solid fa-key"></i> Confirm Password</label
        >
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"
        />
        <div
          *ngIf="
            registrationForm.controls['passwordMismatch'] &&
            registrationForm.controls['confirmPassword'].touched
          "
          class="text-danger"
        >
          Passwords do not match.
        </div>
        <div
          *ngIf="
            registrationForm.controls['confirmPassword'].hasError('required') &&
            registrationForm.controls['confirmPassword'].touched
          "
          class="text-danger"
        >
          Confirm Password is required.
        </div>
      </div>
      <br />
      <div class="d-grid gap-2 col-6 mx-auto">
        <button
          type="submit"
          class="{{
            'btn btn-primary' + (registrationForm.invalid ? ' disable' : '')
          }}"
          [disabled]="!registrationForm.valid"
        >
          Register
        </button>
      </div>
    </form>
    <div class="text-center mt-2">
      <p>
        Already have account!
        <a
          routerLink="/login"
          (click)="redirectToLogin()"
          routerLinkActive="text-primary"
          [routerLinkActiveOptions]="{ exact: true }"
          >Login now</a
        >
      </p>
    </div>
  </div>
  <div class="clr"></div>
</div>
