.navbar {
  box-shadow: 0px 0px 20px 4px rgba(154, 2, 255, 0.338);
  z-index: 100000;
  position: fixed;
  width: 100%;
}
.navbar .logo {
  width: 40px;
}
.activate {
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 6px;
  box-shadow: 0px 0px 10px 2px rgba(154, 2, 255, 0.338);
  padding: 8px 18px;
}
.activate:hover {
  background-color: var(--main-color);
  transition: 0.3s;
}

.form-control {
  width: 600px;
}
.form-control:focus {
  box-shadow: none;
}
.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
