<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img class="logo" src="../../../assets/images/logo.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- User Logout -->
      <ul
        class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3"
        *ngIf="!isAuthenticated"
      >
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/login"
            routerLinkActive="activate"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/signup"
            routerLinkActive="activate"
            [routerLinkActiveOptions]="{ exact: true }"
            >Signup</a
          >
        </li>
      </ul>

      <!-- User Login -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3" *ngIf="isAuthenticated">
        <li class="nav-item me-3">
          <div class="input-group border rounded-pill">
            <input
              type="search"
              placeholder="What're you searching for?"
              aria-describedby="button-addon3"
              class="form-control bg-none border-0"
            />
            <div class="input-group-append border-0">
              <button
                id="button-addon3"
                type="button"
                class="btn btn-link text-info nav-link"
                routerLink="/home"
              >
                <i class="fa fa-search fa-xl"></i>
              </button>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="activate"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/profile"
            routerLinkActive="activate"
            [routerLinkActiveOptions]="{ exact: true }"
            >Profile</a
          >
        </li>

        <li class="nav-item">
          <button class="btn btn-danger" (click)="logout()" title="Logout">
            <i class="fa-solid fa-right-from-bracket"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
