.main {
  min-height: calc(100vh - 51.77px);
  padding-top: 66px;
  position: relative;
}
.offcanvas-body .test{
  background-color: #ddd;
  padding: 10px;
  cursor: pointer;
  transition: .3s;
}
.offcanvas-body .test:hover{
  background-color: #ccc;
}
