<app-navbar></app-navbar>
<div
  class="offcanvas offcanvas-end"
  style="z-index: 1000000"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h2 class="offcanvas-title pt-2 fw-bold" id="offcanvasRightLabel" style="border-bottom: 1.4px solid #00b3ffac;">Notification</h2>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
		<div class="test">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates magnam esse repellat! Quod debitis sequi </p>
		</div>
	</div>
</div>
<!-- <main class="main"> -->
<router-outlet></router-outlet>
<!-- </main> -->
<app-footer></app-footer>
