<!-- start header  -->
<div class="welcome-area" id="welcome">
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div class="text-content">
          <h1>
            We provide the best <strong>strategy</strong><br />to give you best
            event experience
          </h1>
          <a href="#features" class="btn-feat">Discover More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header  -->
<!-- start features  -->
<div class="container">
  <div class="row">
    <div
      class="col-lg-4 col-md-6 col-sm-6 col-12 "
      data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s"
      data-scroll-reveal-id="1"
      data-scroll-reveal-initialized="true"
      data-scroll-reveal-complete="true"
    >
      <div class="features-small-item" id="features">
        <div class="icon">
          <i class="fa-regular fa-handshake fa-2xl text-white"></i>
        </div>
        <h5 class="features-title">Event Creation</h5>
        <p>
          Users can create and publish their own events, specifying details such
          as date, time, location, and description.
        </p>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 col-sm-6 col-12"
      data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s"
      data-scroll-reveal-id="1"
      data-scroll-reveal-initialized="true"
      data-scroll-reveal-complete="true"
    >
      <div class="features-small-item">
        <div class="icon">
          <i class="fa-regular fa-lightbulb fa-2xl text-white"></i>
        </div>
        <h5 class="features-title">Event Search and Discovery</h5>
        <p>
          Users can search for events based on keywords, location, date, or
          category to discover relevant gatherings.
        </p>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 col-sm-6 col-12"
      data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s"
      data-scroll-reveal-id="1"
      data-scroll-reveal-initialized="true"
      data-scroll-reveal-complete="true"
    >
      <div class="features-small-item">
        <div class="icon">
					<i class="fa-regular fa-envelope fa-2xl text-white"></i>
        </div>
        <h5 class="features-title">Messaging and Communication</h5>
        <p>Messaging features within groups or events allow attendees and organizers to communicate</p>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 col-sm-6 col-12"
      data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s"
      data-scroll-reveal-id="1"
      data-scroll-reveal-initialized="true"
      data-scroll-reveal-complete="true"
    >
      <div class="features-small-item">
        <div class="icon">
					<i class="fa-regular fa-bell fa-2xl text-white"></i>
        </div>
        <h5 class="features-title">Notifications</h5>
        <p>Users receive notifications about upcoming events, changes to events they've RSVP'd for, and group activity.</p>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 col-sm-6 col-12"
      data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s"
      data-scroll-reveal-id="1"
      data-scroll-reveal-initialized="true"
      data-scroll-reveal-complete="true"
    >
      <div class="features-small-item">
        <div class="icon">
					<i class="fa-regular fa-map fa-2xl text-white"></i>
        </div>
        <h5 class="features-title">Integration with Maps</h5>
        <p>Mapping services like Google Maps help users find event locations <br> easily</p>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 col-sm-6 col-12"
      data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s"
      data-scroll-reveal-id="1"
      data-scroll-reveal-initialized="true"
      data-scroll-reveal-complete="true"
    >
      <div class="features-small-item">
        <div class="icon">
					<i class="fa-regular fa-hand fa-2xl text-white"></i>
        </div>
        <h5 class="features-title">Waitlist Management</h5>
        <p> If an event reaches its capacity, a waitlist feature allows users to join a queue and be notified if a spot becomes available.</p>
      </div>
    </div>
  </div>
</div>
<!-- end features  -->
