<!-- <div class="container">
  <app-loading></app-loading>
</div> -->

<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 mb-5">
        <app-calendar></app-calendar>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12">
        <div>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 bg-secondary">
                <img src="..." class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Event</h5>
                  <p class="card-text">
                    These are more localized events where people interested in
                    technology gather to discuss specific topics, share
                    knowledge, and network. Meetups can cover a wide range of
                    tech-related subjects, from artificial intelligence to web
                    development.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 bg-secondary">
                <img src="..." class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Event</h5>
                  <p class="card-text">
                    These are more localized events where people interested in
                    technology gather to discuss specific topics, share
                    knowledge, and network. Meetups can cover a wide range of
                    tech-related subjects, from artificial intelligence to web
                    development.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 bg-secondary">
                <img src="..." class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Event</h5>
                  <p class="card-text">
                    These are more localized events where people interested in
                    technology gather to discuss specific topics, share
                    knowledge, and network. Meetups can cover a wide range of
                    tech-related subjects, from artificial intelligence to web
                    development.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 bg-secondary">
                <img src="..." class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Event</h5>
                  <p class="card-text">
                    These are more localized events where people interested in
                    technology gather to discuss specific topics, share
                    knowledge, and network. Meetups can cover a wide range of
                    tech-related subjects, from artificial intelligence to web
                    development.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
