<!-- <div class="container">
  <app-loading></app-loading>
</div> -->

<section class="home">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-4 col-5 col-sm-12 col-xs-12 mb-5">
        <app-calendar></app-calendar>
      </div> -->
      <div *ngIf="events">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <a
            *ngFor="let event of events"
            (click)="handleClick(event._id)"
            class="col car"
            routerLink="/event/{{ event._id }}"
          >
            <div class="card h-100">
              <img
                [src]="
                  'https://events-app-api-faar.onrender.com/api/v1/event/photo/' +
                  event._id
                "
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <small class="text-muted"
                  >Created at
                  {{ event.createdAt | date : "d - MMM - yyyy" }}</small
                >
                <h3 class="card-title">{{ event.title }}</h3>

                <h5 class="card-text">T{{ event.description }}</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted"
                  >Last updated in
                  {{ event.updatedAt | date : "d - MMM - yyyy" }}</small
                >
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
