// start plans
.main {
  padding: 66px;
}
.free-plan {
  height: 200px;
}

.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-color);
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-color);
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.pricing-item {
  background: var(--text-color);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 30px 0px 40px 0px;
  height: 494px;
}

.pricing-item .pricing-header {
  text-align: center;
  display: block;
  position: relative;
  padding-bottom: 10px;
}

.pricing-item .pricing-header .pricing-title {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.25px;
  color: #1e1e1e;
  width: 180px;
  height: 40px;
  line-height: 40px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.pricing-item .pricing-body {
  margin-bottom: 40px;
}

.pricing-item .pricing-body .price-wrapper {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 13px;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 5px;
  border-radius: 20px;
}

.pricing-item .pricing-body .price-wrapper .currency {
  height: 47px;
  font-weight: 500;
  font-size: 32px;
  color: var(--text-color);
  position: relative;
  top: -1px;
}

.pricing-item .pricing-body .price-wrapper .price {
  font-weight: 500;
  font-size: 37px;
  color: var(--text-color);
}

.pricing-item .pricing-body .price-wrapper .period {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
  display: block;
  letter-spacing: 0.88px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pricing-item .pricing-body .list li.active {
  color: #7a7a7a;
  text-decoration: none;
}

.pricing-item .pricing-body .list li {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 18px;
  color: #7a7a7a;
  letter-spacing: 0.25px;
  text-decoration: line-through;
}

.pricing-item .pricing-footer {
  text-align: center;
  margin-top: 50px;
}

button.main-button {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #2652d6;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 540px) {
  .free-plan {
    margin-bottom: 400px;
  }
}
