<!-- start header  -->
<div class="welcome-area" id="welcome">
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div class="text-content">
          <h1>
            We provide the best <strong>strategy</strong><br />to give you best
            event experience
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header  -->
<!-- start features  -->
<div class="container">
  <div class="row">
    <div
      class="col-lg-4 col-md-6 col-sm-6 col-12"
      data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s"
      data-scroll-reveal-id="1"
      data-scroll-reveal-initialized="true"
      data-scroll-reveal-complete="true"
    >
      <div class="features-small-item" id="features">
        <div class="icon">
          <i class="fa-regular fa-handshake fa-2xl text-white"></i>
        </div>
        <h5 class="features-title">Event Creation</h5>
        <p>
          Users can create and publish their own events, specifying details such
          as date, time, location, and description.
        </p>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 col-sm-6 col-12"
      data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s"
      data-scroll-reveal-id="1"
      data-scroll-reveal-initialized="true"
      data-scroll-reveal-complete="true"
    >
      <div class="features-small-item">
        <div class="icon">
          <i class="fa-regular fa-lightbulb fa-2xl text-white"></i>
        </div>
        <h5 class="features-title">Event Search and Discovery</h5>
        <p>
          Users can search for events based on keywords, location, date, or
          category to discover relevant gatherings.
        </p>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 col-sm-6 col-12"
      data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s"
      data-scroll-reveal-id="1"
      data-scroll-reveal-initialized="true"
      data-scroll-reveal-complete="true"
    >
      <div class="features-small-item">
        <div class="icon">
          <i class="fa-regular fa-envelope fa-2xl text-white"></i>
        </div>
        <h5 class="features-title">Messaging and Communication</h5>
        <p>
          Messaging features within groups or events allow attendees and
          organizers to communicate
        </p>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 col-sm-6 col-12"
      data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s"
      data-scroll-reveal-id="1"
      data-scroll-reveal-initialized="true"
      data-scroll-reveal-complete="true"
    >
      <div class="features-small-item">
        <div class="icon">
          <i class="fa-regular fa-bell fa-2xl text-white"></i>
        </div>
        <h5 class="features-title">Notifications</h5>
        <p>
          Users receive notifications about upcoming events, changes to events
          they've RSVP'd for, and group activity.
        </p>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 col-sm-6 col-12"
      data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s"
      data-scroll-reveal-id="1"
      data-scroll-reveal-initialized="true"
      data-scroll-reveal-complete="true"
    >
      <div class="features-small-item">
        <div class="icon">
          <i class="fa-regular fa-map fa-2xl text-white"></i>
        </div>
        <h5 class="features-title">Integration with Maps</h5>
        <p>
          Mapping services like Google Maps help users find event locations
          <br />
          easily
        </p>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 col-sm-6 col-12"
      data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s"
      data-scroll-reveal-id="1"
      data-scroll-reveal-initialized="true"
      data-scroll-reveal-complete="true"
    >
      <div class="features-small-item">
        <div class="icon">
          <i class="fa-regular fa-hand fa-2xl text-white"></i>
        </div>
        <h5 class="features-title">Waitlist Management</h5>
        <p>
          If an event reaches its capacity, a waitlist feature allows users to
          join a queue and be notified if a spot becomes available.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- end features  -->
<!-- start about your event  -->
<div class="aboutYourEvent mt-5 pt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12 align-self-center">
        <div class="imageLeft">
          <img
            class="rounded img-fluid d-block mx-auto"
            src="assets/images/image1.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6 col-md-12 col-sm-12 align-self-center">
        <div class="aboutEventText mt-md-4 text-md-center">
          <div class="left-heading">
            <h2 class="section-title mb-4">Let’s discuss about your Event</h2>
          </div>
          <div class="left-text">
            <p>
              While we promote our workshops and networking events on numerous
              social media platforms, Events Pro has proved one of our most
              successful.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aboutYourEvent mt-5 pt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 align-self-center">
        <div class="aboutEventText2 mt-md-4 text-md-center">
          <div class="left-heading">
            <h2 class="section-title mb-4">We can help you create an event</h2>
          </div>
          <div class="left-text">
            <p>
              While we promote our workshops and networking events on numerous
              social media platforms, Events Pro has proved one of our most
              successful.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5 col-md-12 col-sm-12 align-self-center">
        <div class="imageLeft">
          <img
            class="rounded img-fluid d-block mx-auto"
            src="assets/images/image2.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end about your event  -->
<!-- start work us  -->
<section class="mini" id="work-process">
  <div class="mini-content">
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-6">
          <div class="info">
            <h1>Work Process</h1>
            <p>
              The added ability to communicate with members of our Meetup group
              through email when they RSVP for an event has improved our show-up
              rate significantly.
            </p>
          </div>
        </div>
      </div>
      <!-- ***** Mini Box Start ***** -->
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a class="mini-box">
            <i><img src="assets/images/rocket.png" alt="" /></i>
            <strong>Register</strong>
            <span>Godard pabst prism fam cliche.</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a class="mini-box">
            <i><img src="assets/images/rocket.png" alt="" /></i>
            <strong>Choose a plan</strong>
            <span>Godard pabst prism fam cliche.</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a class="mini-box active">
            <i><img src="assets/images/rocket.png" alt="" /></i>
            <strong>Book a place</strong>
            <span>Godard pabst prism fam cliche.</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a class="mini-box">
            <i><img src="assets/images/rocket.png" alt="" /></i>
            <strong>Select event</strong>
            <span>Godard pabst prism fam cliche.</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a class="mini-box">
            <i><img src="assets/images/rocket.png" alt="" /></i>
            <strong>Approve</strong>
            <span>Godard pabst prism fam cliche.</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a class="mini-box">
            <i><img src="assets/images/rocket.png" alt="" /></i>
            <strong>Launch</strong>
            <span>Godard pabst prism fam cliche.</span>
          </a>
        </div>
      </div>
      <!-- ***** Mini Box End ***** -->
    </div>
  </div>
</section>
<!-- start work us  -->
<!-- satrt plans  -->

<section
  class="section colored pb-5"
  style="background: #f2f2fe"
  id="pricing-plans"
>
  <div class="container">
    <!-- ***** Section Title Start ***** -->
    <div class="row">
      <div class="col-lg-12">
        <div class="center-heading">
          <h2 class="section-title text-center mt-5">PRICING PLANS</h2>
        </div>
      </div>
      <div class="offset-lg-3 col-lg-6">
        <div class="center-text">
          <p class="wow fadeInDown" data-wow-delay="0.2s">
            "While we promote our workshops and networking events on numerous
            social media platforms, Events Pro has proved one of our most
            successful. The added ability to communicate with members of our
            Meetup group through email when they RSVP for an event has improved
            our show-up rate significantly."
          </p>
        </div>
      </div>
    </div>
    <!-- ***** Section Title End ***** -->

    <div class="row">
      <!-- ***** Pricing Item Start ***** -->
      <div
        class="col-lg-5 col-md-6 col-sm-12 free-plan"
        data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s"
        data-scroll-reveal-id="6"
        data-scroll-reveal-initialized="true"
        data-scroll-reveal-complete="true"
      >
        <div class="pricing-item">
          <div class="pricing-header">
            <h3 class="pricing-title">Starter</h3>
          </div>
          <div class="pricing-body">
            <div class="price-wrapper bg-success">
              <span class="price">Free</span>
            </div>
            <ul class="list">
              <li class="active">1 Host</li>
              <li class="active">1 Place</li>
              <li class="active">3 Events</li>
              <li>15-minute support</li>
              <li>Unlimited Emails</li>
              <li>24/7 Security</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ***** Pricing Item End ***** -->

      <!-- ***** Pricing Item Start ***** -->
      <div
        class="offset-lg-2 col-lg-5 col-md-6 col-sm-12"
        data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s"
        data-scroll-reveal-id="8"
        data-scroll-reveal-initialized="true"
        data-scroll-reveal-complete="true"
      >
        <div class="pricing-item">
          <div class="pricing-header">
            <h3 class="pricing-title">Premium</h3>
          </div>
          <div class="pricing-body">
            <div class="price-wrapper" style="background-color: #2652d6">
              <span class="currency">$</span>
              <span class="price">10</span>
              <span class="period">monthly</span>
            </div>
            <ul class="list">
              <li class="active">5 Host</li>
              <li class="active">5 Places</li>
              <li class="active">5 Events</li>
              <li class="active">Technical Support</li>
              <li class="active">Unlimited Emails</li>
              <li class="active">24/7 Security</li>
            </ul>
          </div>
          <div class="pricing-footer">
            <button
              routerLink="/login"
              style="cursor: pointer"
              class="btn main-button"
            >
              Subscribe Now
            </button>
          </div>
        </div>
      </div>
      <!-- ***** Pricing Item End ***** -->
    </div>
  </div>
</section>

<!-- end plans  -->
