@import "~@fortawesome/fontawesome-free/css/all.css";

:root {
  --main-color: #3498db;
  --second-color: #8261ee;
  --thaird-color: #d86a98;
  --main-alt-color: #3955e0;
  --green-color: #22c55e;
  --red-color: #f44336;
  --gray-color: #777;
  --text-color: #fff;
}
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--text-color);
}
::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  transition: all 1s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
