@import "~@fortawesome/fontawesome-free/css/all.css";

:root{
  --main-color : #485ab8;
  --main-alt-color : #5a73f1;
  --green-color : #22c55e;
  --red-color : #f44336;
  --gray-color : #888;
  --text-color : #FFF
}
* {
  box-sizing: border-box;
  font-family: "Berkshire Swash", serif;
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: var(--text-color)
}
::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--main-alt-color)
}
